html {
  scroll-behavior: smooth;
}


.hero {
  padding: 6rem 3rem;
  margin-bottom: 3rem;
  background-image: 
    linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%), 
    url("https://source.unsplash.com/fItRJ7AHak8/1900x900");
  border-radius: 0rem;
}

.margin-judul-page {
  margin-top: 8%;
}

.position-absolute-custom {
  position: absolute;
  top: 16px;
  right: 16px;
}

.navbar-collapse {
  transition: top 800ms ease-in-out;
}

.navbar-hide {
  top: -100px;
}

.navbar-transparent-color {
  background-color: transparent;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-object-fit {
  object-fit: cover;
}

.foto-produk {
  padding-right: 18px;
  padding-left: 18px;
}

.feather-icon-16{
  width: 16px;
  height: 16px;
}

@supports (position: sticky) {
    .sticky-top-produk {
      position: sticky;
      top: 14%;
      z-index: 1020; } }

@media (min-width: 576px) {
  .hero {
    padding: 12rem 6rem;
  }
}
@media (max-width: 576px) {
  .margin-judul-page {
    margin-top: 24%;
  }
  .foto-produk {
    padding-right: 0px;
    padding-left: 0px;
  }
}
